.view {

}

#toolMenuID > .label {
    -fx-graphic: url("../images/menu/exchangeApp-16x16.png");
}

#helpMenuId > .label {
    -fx-graphic: url("../images/menu/about-16x16.png");
}

.titleLabel {
    -fx-font: italic 16 Tahoma;
    -fx-text-fill: #2690ff;
}
